@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*REVISAR*/
.contiene{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Overpass', sans-serif;
    min-width: 375px;
    max-width: 100%;
}

.contenedor{
    max-width: 100%;
    margin: auto; /*centra todo*/
    overflow: hidden;
    font-family: 'Overpass';
}

.T1{
    color: white;
    margin-left: 50px;
    margin-top: 0px;
    font-size: 50px;
    width: 200px;
    float: left;
}

.titulo{
    color: darkblue;
    font-size: 25px;
    text-align: center;
    margin-bottom: 60px;
}



/*header*/
header{
    width:100%;
    height:500px;
    background:url("images/bg-pattern-intro.svg") no-repeat left center/180%, linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    border-bottom-left-radius: 120px;
}

#option1{
    display: flex;
}

#option3{
    padding: 20px 0 0 0;
}

#option3 a{
    font-family: 'Ubuntu';
}

#option2 a{
    font-family: 'Ubuntu';
}

li{
    list-style: none;
}

#lista{
    margin:auto;
    margin-bottom: 0%;
}

#option2{
    margin-bottom: 0%;
    padding: 10px 90px 0 0;
}

#option2 a{
    font-family: 'Ubuntu' bold;
}

#lista > li{
    float:left;
    width: 100px;
    color:white;
    margin-bottom: 15px;
}

#lista li ul{
    background-color: white;
    border-radius: 8px;
    padding: 20px 10px;
    margin-top: 15px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease-out;
}

#lista li ul li{
    width: 115px;
    height: 30px;
    font-size: 15px;
}

#lista li ul li a{
    color: black;
}

#lista li > img{
    filter: brightness(200%);
    width: 15px;
    transition: 0.5s;
}

#lista li{
    display: block;
}

#lista li:hover > img{
    transform: rotate(-180deg);
}

#lista li:hover > ul{
    visibility: visible;
    opacity: 1;
} 

#lista > li:hover{
    text-decoration: underline;
}

#lista li:hover > a{
    font-weight: bold;
}

nav{
    margin-bottom: 15px;
}

nav > a{
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    float:center;
}

.caja{
    color:rgb(245, 51, 51);
    background-color: white;
    margin: 10px;
    font-size: 16px;
    width:auto;
    height: 30px;
    padding: 5px;
    text-align: center;
    display: inline-block;
    box-shadow: 0 0 5px rgba(255, 253, 253, 0.3);
    border-radius: 50px;
}

.caja2{
    color:white;
    margin: 10px;
    font-size: 16px;
    width:auto;
    height: 30px;
    padding: 5px;
    text-align: center;
    display: inline-block;
    box-shadow: 0 0 5px rgba(255, 253, 253, 0.932);
    border: white solid 1px;
    border-radius: 50px;
}

.caja2:hover{
    background-color: white;
    color: tomato;
}

a{
    color:white;
    text-decoration: none;
}

.caja:hover{
    background-color: rgb(252, 192, 182);
    color:white;
}

.texto-header
{
    display: flex;
    height:322px;
    width:100%;
    align-items: center;
    flex-direction: column;
}

.texto-header h1{
    font-size: 50px;
    color:white;
}

.texto-header h2{
    font-size: 16px;
    opacity: 0.7;
    color:white;
    font-weight: 300;
    padding: 20px 0 0 0;
}

#encabezado
{
    padding:50px;
    display:flex;
    justify-content: space-between;
    width: 100%;
}


/*Primera parte*/

.primero{
    width: 100%;
    height:850px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 0 10px 10px;
}

.imgPC{
    display: flex;
    width: 140%;
}

.title{
    justify-content: center;
    align-items: center;
    padding: 80px 0 0 0;
}

.title h3{
    color: hsl(207, 13%, 34%);
    font-size: 35px;
}

.content h4{
    color: hsl(207, 13%, 34%);
    margin: 30px 0 20px 0;
}

.titulo2{
    font-size: 20px;
    text-align: left;
    margin-bottom: 23px;
}

.content h5{
    color: hsl(207, 13%, 34%);
    margin: 50px 0 20px 0;
}

.o1{
    width: 50%;
    padding: 150px 100px 0 110px;
}

.o2{
    width: 50%;
    overflow: hidden;
    padding: 0 0 0 100px;
}

.content{
    display: flex;
    flex-direction: row;
    margin: -155px 0 0 0 ;
}

.o1 p{
    opacity: 0.8;
    font-size: 15px;
    line-height: 30px;
}

/*Segunda parte*/


.segundo
{
    width: 100%;
    height:550px;
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
}

.contenido-segundo{
    height: 400px;
    width: 100%;
    background: url("images/bg-pattern-circles.svg") no-repeat left bottom/60% , linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    border-bottom-left-radius: 120px;
    border-top-right-radius: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.op1{
    justify-content: flex-end;
}

.op2{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-content: center;
    padding: 50px 150px 50px 40px;
}

.imagencelular
{
    width: 100%;
}

.op2 h2{
    color: white;
    padding-bottom: 30px;
    font-size: 32px;
}

.op2 p{
    color: white;
    opacity: 0.5;
    font-size: 15px;
    line-height: 30px;
}


/*Tercera parte*/

.tercero{
    width: 100%;
    height: 850px;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    padding: 0 10px 10px 0;
    margin: -40px 0 0 0;
}

.imagenlaptop{
    display: flex;
    width: 142%;
}

.contenido3{
    display: flex;
    width: 100%;
}

.optio1{
    width: 50%;
    overflow: hidden;
    padding: 30px 2px 50px 0;
    display: flex;
    justify-content: right;
}

.contenido h5{
    color: hsl(207, 13%, 34%);
    margin: 30px 0 20px 0;
}

.optio2{
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 150px 170px 150px 40px;
}

.titulo3{
    font-size: 20px;
    text-align: left;
    margin-bottom: 23px;
    color: hsl(207, 13%, 34%);
    margin: 30px 0 20px 0;
}

.optio2 p{
    opacity: 0.8;
    font-size: 15px;
    line-height: 30px;
}


/*Footer*/

footer{
    background-color: hsl(240, 10%, 16%);
    width:100%;
    height:300px;
    background-size: cover;
    position: relative;
    border-top-right-radius: 120px;
}

.contenido-footer{
    padding:50px;
    display:flex;
    justify-content: space-between;
    width: 100%;
}

.opt1{
    display: flex;
    width: 200px;
    justify-content: right;
}

.opt2{
    width: 850px;
    height: 150px;
    align-items: center;
    justify-content: center;
}

.contenido-footer p{
    color:white;
    font-size: 45px;
    font-family: 'Ubuntu';
}

#listafooter > li{
    float:left;
    width: 225px;
    color:white;
    font-size: 13px;
}

#listafooter li ul{
    border-radius: 8px;
    padding: 20px 0;
    position: absolute;
    color: white;
    opacity: 0.5;
}

#listafooter li ul li{
    width: 115px;
    height: 30px;
    font-size: 12px;
}

footer > a{
    text-decoration: none;
}

#listafooter li:hover > a{
    text-decoration: underline;
}

#listafooter{
    padding: 20px 0 0 0;
    font-family: 'Ubuntu';
}